main{
    background-color: black;
}

.navbar-brand{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#tituloSeccion, .nav-item{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p, #textFooter, .card{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.bg-info{
    display: flex;
}

.col-5{
    display: flex;
}